body{
    background: #363636;
}

/* Навигационная панель */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    height: 50px;
    background: white;
    padding: 0 20px;
    position: absolute;
    top: 35px; /* Отступ от верхней границы */
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'SF UI Display', sans-serif;
}

/* Логотип */
.logo img {
    height: 30px;
}

/* Список навигации */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Контейнер карты */
.map-container {
    position: absolute;
    top: 236px; /* Координаты из макета */
    left: 536px;
    width: 589px; /* Подстраивай под размеры макета */
    height: 500px; /* Подстраивай под размеры макета */
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector-1{
    position: absolute;
    width: 37;
    height: 58.0025749206543;
    top: 202px;
    left: 503px;    
}

.vector-2{
    position: absolute;
    width: 37;
    height: 58.0025749206543;
    top: 112px;
    left: 803px;    
}

.vector-3{
    position: absolute;
    width: 37;
    height: 58.0025749206543;
    top: 502px;
    left: 603px;    
}

.vector-4{
    position: absolute;
    width: 37;
    height: 58.0025749206543;
    top: 402px;
    left: 903px;    
}

.vector-5{
    position: absolute;
    width: 37;
    height: 58.0025749206543;
    top: 170px;
    left: 523px;     
}

.button-1{
    position: absolute;
    width: 37;
    height: 58.0025749206543;
    top: 272px;
    left: -300px; 
}

.button-2{
    position: absolute;
    width: 200px;
    height: 58.0025749206543;
    top: 175px;
    left: 533px; 
}
