<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create order</title>
</head>
<body>
    <form action="{{ url_for('create_order') }}" method="post">
        <input type="text" name="address" placeholder="address">
        <input type="datetime-local" name="visit_time" placeholder="visit_time">
        <input type="number" name="family_size" placeholder="family_size">
        <select name="family_status">
            <option value="healthy">healthy</option>
            <option value="ill">ill</option>
        </select>
        <button type="submit">create</button>
    </form>
</body>
</html>
