<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dev_page</title>

    <style>
        .forms {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .form {
            border: 5px solid black;
            border-radius: 15 px;
            padding: 10px;
            margin-block-end: 20px;
        }
    </style>

</head>
<body>
    <nav>
        <center>
            {% if current_user.city %}
            <p>you admin</p>
            {% endif %}
        {% if current_user.is_authenticated %}
            <p>вы вошли как {{ current_user.full_name }}</p>
            <a href="/auth/logout">выйти</a>
        {% else %}
            <p>ты никто</p>
            <a href="/auth/register">регистрация</a>
        {% endif %}
    </center>
    </nav>
    <div class="forms">
        <div class="form">
            <h3>example</h3>
            <form action="/" method="get">
                <input type="text" name="example" placeholder="example_input" >
                <button type="submit">отправить</button>
            </form>
        </div>
        <div class="form">
            <h3>create_user</h3>
            <form action="/admin/user/create" method="post">
                <input type="text" name="full_name" placeholder="full_name" >
                <input type="text" name="password" placeholder="password" >
                <input type="text" name="login" placeholder="login" >
                <button type="submit">отправить</button>
            </form>
        </div>
    </div>
</body>
</html>