<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body>
    <center>
        <nav style="background-color: lightslategrey;">
            <a href="/create_user">create_user</a>
            <a href="/create_admin">create admin</a>
            <a href="/create_order">create order</a>
            <br>
            <a href="/orders">orders</a>
            <a href="/users">users</a>
            <a href="/admins">admins</a>
        </nav>
        <br>
        <h1>welcome</h1>
    </center>
</body>
</html>