<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyroShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/sf-ui-display');
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='/materials/Vector.png') }}" alt="Логотип">
            </div>
            <ul class="nav-links">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Почему мы?</a></li>
                <li><a href="#">Как мы работаем?</a></li>
                <li><a href="#">Наша команда</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>FLAME MONITORING CHARTS</h1>
            <p class="description">
                <span class="bold">Pyroshield-команда</span>, которая исследует вашу местность на пожаробезопасность.
                <br>
                Команда <span class="highlight yellow">осуществляет качественную и практичную работу пожарных служб.</span>
            </p>
        </div>
        <div class="inspection-box">
            <p>
                <span class="highlight">ПРОВЕРКА ВАШЕГО ЗДАНИЯ</span> НА <br>
                <span class="highlight_1">ПОЖАРОБЕЗОПАСНОСТЬ</span> 
                ПРОФЕССИОНАЛЬНОЙ КОМАНДОЙ PyroShield
            </p>
        </div>   
        <div class="cta-container">
            <img src="{{ url_for('static', filename='/materials/огнетушитель 1.png') }}" alt="Огнетушитель" class="cta-image">
            <a href="{{ url_for('auth.register') }}" class="cta-button">ЗАРЕГИСТРИРОВАТЬСЯ</a>
        </div> 
        <div class="building-container">
            <img src="{{ url_for('static', filename='/materials/Adobe Express - file (1) 1.png') }}" alt="Здание с отметками" class="building-image">
        </div>
    </section>      

    <section class="process">
        <div class="cloud-platform"></div>
        <div class="process-background"></div>
        <div class="process-title">
            <img src="{{ url_for('static', filename='/materials/icon 1.png') }}" alt="Иконка слева" class="icon">
            <h2>ПРОЦЕСС РАБОТЫ</h2>
            <img src="{{ url_for('static', filename='/materials/icon 1.png') }}" alt="Иконка справа" class="icon">
        </div>
    
        <div class="process-steps">
            <div class="step step-1">
                <img src="{{ url_for('static', filename='/materials/Админ 1.png') }}" alt="Шаг 1">
                <p id="text-1">Админ назначает инспектору задачу на сайте</p>
            </div>
    
            <img src="{{ url_for('static', filename='/materials/Стрелка 1.png') }}" alt="Стрелка 1" class="step-arrow arrow-1">
    
            <div class="step step-2">
                <img src="{{ url_for('static', filename='/materials/Карта.png') }}" alt="Шаг 2">
                <p id="text-2">Инспектор получает заказ в приложении и выстраивает маршрут на точку</p>
            </div>
    
            <img src="{{ url_for('static', filename='/materials/Стрелка 2.png') }}" alt="Стрелка 2" class="step-arrow arrow-2">
    
            <div class="step step-3">
                <img src="{{ url_for('static', filename='/materials/Документ 1.png') }}" alt="Шаг 3">
                <p id="text-3">Инспектор заполняет документацию в приложении</p>
            </div>
    
            <img src="{{ url_for('static', filename='/materials/Стрелка 3.png') }}" alt="Стрелка 3" class="step-arrow arrow-3">
    
            <div class="step step-4">
                <img src="{{ url_for('static', filename='/materials/Локация.png') }}" alt="Шаг 4">
                <p id="text-4">Админ, получив информацию о проекте, подтверждает её статус</p>
            </div>
    
            <img src="{{ url_for('static', filename='/materials/Стрелка 4.png') }}" alt="Стрелка 4" class="step-arrow arrow-4">
    
            <div class="step step-5">
                <img src="{{ url_for('static', filename='/materials/Аналитика 1.png') }}" alt="Шаг 5">
                <p id="text-5">Аналитики исследуют и открыто пользуются этой информацией для выявления профилактики и защиты местности от пожаров</p>
            </div>
        </div>
    </section>
    <section class="advantages">

        <div class="advantages-title">
            <img src="{{ url_for('static', filename='/materials/icon 2.png') }}" alt="Иконка слева" class="icon">
            <h2>ПРЕИМУЩЕСТВА</h2>
            <img src="{{ url_for('static', filename='/materials/icon 2.png') }}" alt="Иконка справа" class="icon">
        </div>
    
        <div class="advantages-content">
            <!-- Первый блок -->
            <div class="advantage advantage-1">
                <img src="{{ url_for('static', filename='/materials/Group 9.png') }}" alt="Огонёк 01" class="fire-icon">
                <p><span class="bold">Внедрение инноваций <br> в процессе аналитики</span><br>  регионов и местностей</p>
            </div>
    
            <!-- Второй блок -->
            <div class="advantage advantage-2">
                <img src="{{ url_for('static', filename='/materials/Group 10.png') }}" alt="Огонёк 02" class="fire-icon">
                <p><span class="bold">Даем широкий спектр<br> базы данных</span> обо всех <br> проверенных точках</p>
            </div>
    
            <!-- Третий блок -->
            <div class="advantage advantage-3">
                <img src="{{ url_for('static', filename='/materials/Group 11.png') }}" alt="Огонёк 03" class="fire-icon">
                <p>Организуем <span class="bold">надежный<br>сервис и взаимосвязь</span></p>
            </div>
    
            <!-- Четвёртый блок -->
            <div class="advantage advantage-4">
                <img src="{{ url_for('static', filename='/materials/Group 12.png') }}" alt="Огонёк 04" class="fire-icon">
                <p><span class="bold">Оптимизируем ваше<br> время и ресурсы</span> в ходе <br> работы с информацией</p>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="team-title">
            <img src="{{ url_for('static', filename='/materials/icon 5.png') }}" alt="Иконка слева" class="icon">
            <h2>КОМАНДА</h2>
            <img src="{{ url_for('static', filename='/materials/icon 5.png') }}" alt="Иконка справа" class="icon">
        </div>
    
        <div class="team-members">
            <div class="member member-frontend">
                <img src="{{ url_for('static', filename='/materials/image (37).png') }}" alt="Артём Frontend">
                <p id="Artem">Артём<br>Frontend</p>
            </div>
            <div class="member member-designer">
                <img src="{{ url_for('static', filename='/materials/Rectangle 31.png') }}" alt="Байзак Алишер Web-дизайнер">
                <p>Байзак Алишер<br>Web-дизайнер</p>
            </div>
            <div class="member member-backend-1">
                <img src="{{ url_for('static', filename='/materials/image (38).png') }}" alt="Иван Backend">
                <p>Иван<br>Backend</p>
            </div>
            <div class="member member-backend-2">
                <img src="{{ url_for('static', filename='/materials/Rectangle 32.png') }}" alt="Тимофей Backend">
                <p>Тимофей<br>Backend</p>
            </div>
        </div>
    </section>
</body>
</html>
