<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form method="POST">
        <label for="full_name">Имя:</label>
        <input type="text" name="full_name" required>
        <br>

        <label for="login">Логин:</label>
        <input type="text" name="login" required>
        <br>

        <label for="password">Пароль:</label>
        <input type="password" name="password" required>
        <br>


        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
