<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/table.css') }}">
    <title>Чек-лист</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='/materials/Vector.png') }}" alt="Логотип">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="#">Почему мы?</a></li>
                <li><a href="#">Как мы работаем?</a></li>
                <li><a href="#">Наша команда</a></li>
            </ul>
        </nav>
    </header>
    <div class="table-with-button">
        <!-- Кнопка с иконкой -->
         
        <button class="icon-button" onclick="add_user()">
            <!-- Замените путь на свою иконку -->
            <img src="{{ url_for('static', filename='/materials/add_person.svg')}}" alt="Добавить" />
        </button>
    <!-- Контейнер таблицы -->
        <table>
            <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Кол-во проектов (выполненных)</th>
                    <th>Кол-во проектов (действующих)</th>
                    <th>Подробнее</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Иван Петров</td>
                    <td>5</td>
                    <td>2</td>
                    <td>Фулл-тайм</td>
                </tr>
                <tr>
                
                    <td>Анна Смирнова</td>
                    <td>8</td>
                    <td>3</td>
                    <td>Частичная</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
                <tr>
                    <td>Алексей Иванов</td>
                    <td>4</td>
                    <td>1</td>
                    <td>Фриланс</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 PyroShield | Все права защищены</p>
            <p class="made-by">Сделано командой <span>ITshechka</span></p>
        </div>
    </footer>    
    <script src="{{ url_for('static', filename='/table.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
