<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора - Пользователи</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}"> -->
     <link rel="stylesheet" href="../static/table.css">
     <link href="https://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/sf-ui-display');
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='materials/Frame 13.png') }}" alt="Логотип">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="analytcs.html">Аналитика</a></li>
                <li><a href="profile.html">Профиль</a></li>
                <li><a href="map.html">Карты</a></li>
            </ul>
        </nav>
    </header>
    <div class="table-with-button">
        <!-- Кнопка для добавления нового пользователя -->
        <button class="icon-button" onclick="add_user()">
            <img src="{{ url_for('static', filename='materials/add_person.svg') }}" alt="Добавить">
        </button>
        <!-- Таблица пользователей -->
        <table style="font-family: 'SF UI Display', sans-serif;">
            <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Кол-во проектов (выполненных)</th>
                    <th>Кол-во проектов (действующих)</th>
                    <th>Подробнее</th>
                </tr>
            </thead>
            <tbody style="color: white;">
                {% for item in data %}
                <tr style="font-family: 'SF UI Display', sans-serif;">
                    <td>{{ item.user.full_name }}</td>
                    <td>{{ item.completed }}</td>
                    <td>{{ item.active }}</td>
                    <td>
                        <button class="details-button"
                        data-user='{"user_id":"{{ item.user.id }}",
                                    "first_name": "{{ item.user.full_name.split()[1] }}",
                                    "last_name": "{{ item.user.full_name.split()[0] }}",
                                    "middle_name": "{{ item.user.full_name.split()[2] }}",
                                    "profile_picture": "{{ item.user.profile_picture }}",
                                    "projects": {{ item.projects | default([], true) | tojson }}
                                }'>
                            &rarr;
                        </button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Нет зарегистрированных пользователей.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 PyroShield | Все права защищены</p>
            <p class="made-by">Сделано командой <span>ITshechka</span></p>
        </div>
    </footer>
    <div class="overlay_" id="modalOverlay_" style="display: none;">
        <div class="modal_" id="userInfo_" style="display: none;"> 
          <button class="close-btn_" id="closeModal_">&times;</button>
          <div class="modal-header_">
            <img src="" alt="Фото профиля" class="profile-pic_" id="profilePic_">
            <div class="user-info_">
              <div class="key">
                <h2>Имя</h2>
                <h2>Фамилия</h2>
                <h2>Отчество</h2>
              </div>
              <div class="value">
                <h2 id="firstName_"></h2>
                <h2 id="lastName_"></h2>
                <h2 id="middleName_"></h2>
              </div>
            </div>
          </div>
          <div class="nav_button_conteiner">
            <div>
              <button id="viewObjects_">Назначить объект</button>
            </div>
            <div class="table-navigation_">
              <button id="prevButton" disabled>&larr;</button>
              <button id="nextButton">&rarr;</button>
            </div>
          </div>
          <table class="projects-table_">
            <thead>
              <tr>
                <th>Проект</th>
                <th>Статус</th>
                <th>Дата</th>
              </tr>
            </thead>
            <tbody id="projectsTableBody_">
              <!-- Данные загружаются динамически -->
            </tbody>
          </table>
        </div>
        <div class="modal_" id="objectsModal_" style="display: none;">
            <button class="close-btn_" id="closeObjectsModal_">&times;</button>
            <div class="modal-header_">
              <h2>Перечень объектов</h2>
            </div>
            <div class="nav_button_conteiner">
              <div>
                <button id="addObjectButton_">Добавить объект</button>
              </div>
              <div class="table-navigation_">
                <button id="prevObjectButton" disabled>&larr;</button>
                <button id="nextObjectButton">&rarr;</button>
              </div>
            </div>
            <table class="projects-table_">
              <thead>
                <tr>
                  <th>Объект</th>
                  <th>Категория</th>
                  <th>Назначить</th>
                </tr>
              </thead>
              <tbody id="objectsTableBody_">
                <!-- Данные загружаются динамически -->
              </tbody>
            </table>
            <button id="backToUserInfo_">Назад</button>
        </div>
        <div class="modal_" id="addObjectModal_" style="display: none;">
          <div class="modal-header_">
            <h2 id="backToObjects_">Добавить объект</h2>
            <div class="header-actions_">
              <button id="backToObjects_">Отмена</button>
              <span class="close-btn_" id="closeAddObjectModal_">&times;</span>
            </div>
          </div>
          <form class="modal-content_" id="addObjectForm">
            <label for="object_address">Адрес:</label>
            <input type="text" id="object_address" required placeholder="Введите адрес">
            <label for="object_coordinates">Координаты (чиcло, число):</label>
            <input type="text" id="object_coordinates" required placeholder="Введите координаты">
            <label for="object_type">Тип объекта:</label>
            <input type="text" id="object_type" required placeholder="Введите тип объекта">
            <button type="submit">Добавить объект</button>
          </form>
        </div>        
        <div class="modal_" id="assignObjectModal_" style="display: none;">
            <div class="modal-header_">
              <div>
                <h2>Назначить объект</h2>
                <button onclick="backToObjects()" id="backToObjects_">Обратно</button>
              </div>
              <span class="close-btn_" id="closeAssignObjectModal_">&times;</span>
            </div>
            <form id="assignObjectForm" class="modal-content_">
              <!-- Скрытые поля для созданния уведомления -->
              <input type="hidden" id="user_id">
              <input type="hidden" id="assign_object_id">

              <label for="notification_message">Сообщение уведомления:</label>
              <input type="text" id="notification_message" required placeholder="Введите сообщение уведомления">
              
              <button type="submit">Назначить объект</button>
            </form>
          </div>
    </div>
    
    
    
    <script src="{{ url_for('static', filename='table.js') }}"></script>
</body>
</html>
