<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <!-- Адаптивность для мобильных устройств -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PyroShield - Талоны</title>
  <!-- Подключаем ваши стили -->
  <link rel="stylesheet" href="{{ url_for('static', filename='tickets.css') }}">
  <!-- Подключаем шрифт SF UI Display -->
  <link href="https://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet">
  <style>
    @import url('https://fonts.cdnfonts.com/css/sf-ui-display');
  </style>
</head>
<body>
    <main>
        <h1 class="task-title">ТАЛОН-УВЕДОМЛЕНИЕ</h1>
        <form class="form-section" action="/inspection/ticket/create" method="post">
          <input type="hidden" name="admin_id" value="{{ assigment.admin_id }}" id="admin_id"> 
          <input type="hidden" name="assigment_id" value="{{ assigment.id }}" id="assigment_id">
          <label for="familyCount">Количество человек в семье</label>
          <input type="number" name="family_size" id="familyCount" min="1" placeholder="Укажите количество">
          <label for="specialCategory">Граждане особой категории</label>
          <select id="specialCategory" name="resident_category">
            <option value="" disabled selected>Выберите категорию</option>
            <option value="ветеран">Пенсионеры</option>
            <option value="инвалид">Инвалиды</option>
            <option value="пенсионер">Военные</option>
            <option value="многодетная семья">Многодетная семья</option>
            <option value="прочее">Одиноко проживающие</option>
            <option value="малоимущая семья">Малоимущая семья</option>
          </select>
          <button class="submit-btn" type="submit">Отправить</button>
      </form>
    </main>

    <div class="icons">
        <button onclick="changeTab(this)"><img src="{{ url_for('static', filename='materials/profile.svg]') }}"></button>
        <button onclick="changeTab(this)"><img src="{{ url_for('static', filename='materials/pin_drop_30dp_FFFFFFFF_FILL0_wght400_GRAD0_opsz24.png') }}"></button>
        <button onclick="changeTab(this)"><img src="{{ url_for('static', filename='materials/notifications_30dp_FFFFFFFF_FILL0_wght400_GRAD0_opsz24.png') }}"></button>
    </div>
    <script src="{{ url_for('static', filename='tickets.js') }}"></script>
</body>
</html>