<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <!-- Адаптивность для мобильных устройств -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PyroShield - Список задач</title>
  <!-- Подключаем ваши стили -->
  <link rel="stylesheet" href="{{ url_for('static', filename='user_dash.css') }}">
  <!-- Подключаем шрифт SF UI Display -->
  <link href="https://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.cdnfonts.com/css/sf-ui-display');
  </style>
</head>
<body>
  <div id="user_id" style="display: none;">{{ user_id }}</div>
  <!-- Основной контент -->
  <main>
    <h1 class="task-title">Список задач</h1>
    
    <table class="task-table">
      <tbody>
        <tr>
          <td>
            <div class="row">
              <span>ул. Пушкина, д. 1</span>
              <button class="work-btn">Взять в работу</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <span>пр. Ленина, д. 45</span>
              <button class="work-btn">Взять в работу</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="row">
              <span>ул. Садовая, д. 12</span>
              <button class="work-btn">Взять в работу</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <div class="icons">
    <button onclick="changeTab(this, '/inspection/profile')"><img src="{{ url_for('static', filename='materials/profile.svg') }}"></button>
    <button class="active"><img src="{{ url_for('static', filename='materials/pin_drop_30dp_FFFFFFFF_FILL0_wght400_GRAD0_opsz24.png') }}"></button>
    <button onclick="changeTab(this, '/inspection/notifications')"><img src="{{ url_for('static', filename='materials/notifications_30dp_FFFFFFFF_FILL0_wght400_GRAD0_opsz24.png') }}"></button>
  </div>
  <script src="{{ url_for('static', filename='user_dash.js') }}"></script>
  <script>
    function changeTab(element, site) {
        document.querySelectorAll(".nav button").forEach(btn => btn.classList.remove("active"));
        element.classList.add("active");
        window.location.href = site;
    }
</script>
</body>
</html>
